#d1, #d2, #d3, #p1 {
  width: 700px;
  height: 110px;
  border: 10px dotted black; 
  padding: 0 100px 50px 10px; /* O padding de um elemento é o espaço entre seu conteúdo e sua borda. */
  background-image: url("https://source.unsplash.com/random");
}

#d1 {
  background-clip: border-box; /* A propriedade background-clip define até onde o fundo (cor ou imagem) deve se estender dentro de um elemento. */
}

#d2 {
  background-clip: padding-box;
}

#d3 {
  background-clip: content-box;
}

#p1 {
  background-clip: padding-box;
}