form {
  display: flex;
  width: 55rem;
  max-width: 90%;
  flex-direction: column;
  align-items: center;
  border: 3px solid #1b305a;
  background-color: #eee;
  font-weight: bold;
  font-size: 0.8rem;
}

form header {
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

form .content {
  padding: 0 5rem 1rem;
  width: 100%;
}

form .label {
  display: block;
  font-size: 2rem;
  margin-top: 1rem;
}

form input {
  height: 2.5rem;
  width: 100%;
  padding: 2rem 0.5rem;
  margin: 1rem 0;
  border: #1b305a solid 2px;
  font-size: 2rem;
}

form button {
  margin-top: 1.2rem;
  width: 100%;
  background-color: #1b305a;
  border: none;
  font-size: 2rem;
  padding: 1.5rem 0.5rem;
  color: #eeeeee;
  transition: filter 0.2s ease-in-out;
}

form button:hover {
  filter: brightness(1.4);
}

form button:disabled {
  filter: brightness(0.7);
}
