main {
    height: 80vh;
    padding: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 15%;
    height: 12%;

    background-color: rgb(26, 26, 144);
    color: white;
    border-radius: 15px;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem; 

    line-height: 0;
}

button + button {
    margin-left: 1rem;
}

button img {
    width: 50px;
}