p {
  border: solid 30px;
  border-image: url(https://i.stack.imgur.com/sjbeu.png) 90 round; /* A propriedade border-image  permite especificar uma imagem a ser usada como borda ao redor de um elemento. */
}

/* 
A propriedade border-image pode conter 4 propriedades:
border-image-source: O caminho (URL) para a imagem a ser usada como borda
border-image-slice: Como cortar a imagem da borda
border-image-width: The width of the border image	
border-image-outset: A quantidade pela qual a área da imagem da borda se estende além da caixa da borda
border-image-repeat: Se a imagem da borda deve ser repetida, arredondada ou esticada
 */